<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ministatement</title>
</head>
<body>
    <h1>
        {{mydata}}
    </h1>
    <table>
        <tr>
            <th>
                
            </th>
        </tr>
        {% for i in mydata %}
            <tr>
                <td>
                    {{i.id}}
                </td>
                <td>
                    {{i.fname}}
                </td>
                <td>
                    {{i.lname}}
                </td>
            </tr>
            {% endfor %}
    </table>
</body>
</html>