<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ministatement</title>
    <style>
        body{
            background-color: aquamarine;
        }
        table{
            text-align: center;
            align-items: center;
            background-color: azure;
            position: absolute;
            left:50%;
            transform: translate(-300px,0px);
        }
    </style>
</head>
<body>
    <h1>
        mini statement
    </h1>
    <table border="1">
        <tr>
            <th>
                <tr colspan="6">
                    Ministatement
                </tr>
            </th>
        </tr>
        <tr>
            <th>
                transaction id
            </th>
            <th>
                first name
            </th>
            <th>
                last name
            </th>
            <th>
                account number
            </th>
            <th>
                amount
            </th>
            <th>
                date of transaction
            </th>
        </tr>
        {% for i in mydata %}
            <tr>
                <td>
                    {{i.id}}
                </td>
                <td>
                    {{i.fname}}
                </td>
                <td>
                    {{i.lname}}
                </td>
                <td>
                    {{i.acc}}
                </td>
                <td>
                    {{i.amt}}
                </td>
                <td>
                    {{i.date}}
                </td>
            </tr>
            {% endfor %}
    </table>
</body>
</html>