<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign in account</title>
</head>
<body>
    <form action="creditbutton">
        <label>
            account number:
        </label>
        <input type="label" name="acc" value="{{acc}}" disabled/>
        <label>
            password:
        </label>
        <label name="pasw">
            <input type="text" name="pasw" value="{{passw}}" disabled/>
        </label>
        <br/>
        <input type="submit" value="credit"/>
    </form>
    <form>
        <input type="submit" value="debit"/>
    </form>
    <form>
        <input type="submit" value="ministatement"/>
    </form>
    <form>
        <input type="submit" value="logout"/>
    </form>
</body>
</html>