<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    <form action="signupdata">
        Enter first name:<input type="text" name="na" required/>
        <br/>
        Enter last name:<input type="text" name="lna" required/>
        <br/>
        Enter bank account name:<input type="text" name="accnam" required/>
        <br/>
        enter account number:<input type="text" name="accnum" required/>
        <br/>
        Enter a password:<input type="password" required name="pass" required/>
        <br/>
        <input type="submit" value="signup"/>
    </form>
</body>
</html>